In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import json
import os
import math
import tensorflow as tf

from sklearn.model_selection import train_test_split
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.metrics import accuracy_score
from sklearn import preprocessing


%matplotlib inline

In [4]:
df = pd.read_csv(r'data/dataset.csv')
df.head()

,1,2,3,4,5,6,7,8,9,10,...,85,86,87,88,89,90,91,92,93,label
0,464,0,0,0,0,1041,522,133,1642,1599,...,0,0,2,0,0,33,0,0,0,0
1,170,0,0,0,0,1921,953,1897,669,1734,...,0,0,8,1,0,29,0,0,0,1
2,738,0,0,0,0,1508,1706,1797,1742,397,...,0,0,1,8,3,57,0,1,0,2
3,145,761,506,628,704,88,1690,968,1372,386,...,0,0,2,0,0,48,0,2,1,3
4,145,0,0,0,0,88,49,1307,1251,697,...,0,0,1,0,0,48,0,3,0,4

In [9]:
df.groupby('label')

KeyError: 'Column not found: 0'